

* {
    margin: 0;
    padding: 0;
    // box-sizing:border-box;
}
.content {
    flex-grow: 1;
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    background: #f8f8f8;
    // overflow-x: hidden
}

.wrap {
    display: flex;
    height: 100vh;
    flex-direction: column;
    .home-category {
        margin-top: -20px;
    }
}
#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

